/*header and destaque*/
#header_bg{
    background-image: url("../img/header_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#destaques h1{
    color: #fff;
    text-align: center;
}

.destaque_01{
    background-image: url("../img/destaque_01.jpg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 280px;
    margin-left: 10px;
    margin-right: 10px;
}

.destaque_02{
    background-image: url("../img/destaque_02.jpg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 280px;
    margin-left: 10px;
    margin-right: 10px;
}

.destaque_03{
    background-image: url("../img/destaque_03.jpg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 280px;
    margin-left: 10px;
    margin-right: 10px;
}
/*articles*/
.pad-r{
    padding-right: 60px;
}

#artigos{
    background-color: #f5f2eb;
    padding-top: 30px;
}

#artigos h1{
    color: #fff;
    font-size: 30px;
    padding-left: 20px;
    font-weight: 700;
}

#artigos h2{
    font-size: 20px;
    font-weight: 700;
}

.txt_articles{
    padding-left: 15px;
}

.box{
    background-color: #f45600;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.img_art{
    background-color: #cecece;
    width: 100%;
    height: 150px;
}

/*agenda*/

#agenda{
    margin-top: 100px;
    background-color: #f37835;
}

.news{
    margin-top: -30px;
    background-color: #000;
    padding: 20px;
}

#agenda h1{
    color: #fff;
    font-size: 30px;
    padding-left: 20px;
    font-weight: 700;
}

#agenda p{
    color: #fff;
    font-size: 15px;
    font-weight: 700;

}

.agenda_01{
    background-image: url("../img/agenda_01.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}
.agenda_02{
    background-image: url("../img/agenda_02.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}
.agenda_03{
    background-image: url("../img/agenda_03.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}
.agenda_04{
    background-image: url("../img/agenda_04.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}
.agenda_05{
    background-image: url("../img/agenda_05.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}

/*materias*/
#materias{
    margin-top: 30px;
}

.link{
    color: black;
    float: right;
}
.img_bg{
    background-color: #cecece;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 120px;
    width: 120px;
}

#materias h1{
    color: #000;
    font-size: 25px;
    font-weight: 700;
}

#materias h2{
    font-size: 20px;
    font-weight: 700;
}

.fundo{
    background-color: #f37835;
    margin-right: 10px;
    height: 337px;
}
.img_mat{
    margin-left: 20%;
    margin-top: 20%;
}
.space{
    padding-top: 70px;
    padding-bottom: 67px;
}

/*footer*/
footer{
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 60px;
}

footer p{
    color: #fff;
}
/*button*/

.btn-warning{
    color: #fff;
    background-color: #f45600;
    border-color: #f45600;
    border-radius: 0%;
    font-weight: 700;
}

.btn-warning:hover {
    color: #fff;
    background-color: #923706;
    border-color: #923706;
}

/*input*/
input{
    height: 40px;
}

.bt{
    color: #fff;
    background-color: #f45600;
    border-color: #f45600;
    border-radius: 0%;
    border: none;
    width: 120px;
    height: 38px;
    font-weight: 700;
}

a {
    color: #fff;
}

a:hover {
    color: #f45600;
}

@media (max-width: 600px){
    #header_bg{
        background-image: url("../img/header_bg.jpg");
        background-repeat: no-repeat;
        background-size: 250%;
    }
    .img_art{
        background-color: #cecece;
        width: 50%;
        height: 150px;
    }
    input{
        height: 30px;
        width: 100%;
        margin-top: 5px;
    }
    
    .bt{
        color: #fff;
        background-color: #f45600;
        border-color: #f45600;
        border-radius: 0%;
        border: none;
        width: 100%;
        height: 30px;
        font-weight: 700;
    }
    
    .navbar-brand{
        width: 100px;
    }

    #agenda p {
        text-align: center;
    }

    .col-sm-4{
        margin-left: 10px;
    }

    #mfot {
        display: none;
    }

    #redes {
        display: none;
    }

    footer{
        background-color: #000;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .space{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}



